<div class="content mat-elevation-z8" *ngIf="isLoggedIn && hasPermissions">
  <div class="product-list-header">
    <div>
      <h2>{{ 'trade.browse-orders.browse-title' | translate}}</h2>
      <p>{{ 'trade.browse-orders.order-count' | translate}}: {{orderCount}}</p>
    </div>
    <div>
      <button mat-raised-button (click)="goToAddOrder()">
        {{ 'nav.add-order' | translate}}
      </button>
    </div>
  </div>
  <mat-tab-group [selectedIndex]="selectedTabIndex" (selectedTabChange)="onTabChange($event)">
    <mat-tab label="{{ 'trade.browse-orders.waiting' | translate}}">
      <ng-template *ngTemplateOutlet="orderListTemplate; context: {$implicit: dataSource}"></ng-template>
    </mat-tab>
    <mat-tab label="{{ 'trade.browse-orders.in-progress' | translate}}">
      <ng-template *ngTemplateOutlet="orderListTemplate; context: {$implicit: dataSource}"></ng-template>
    </mat-tab>
    <mat-tab label="{{ 'trade.browse-orders.done' | translate}}">
      <ng-template *ngTemplateOutlet="orderListTemplate; context: {$implicit: dataSource}"></ng-template>
    </mat-tab>
  </mat-tab-group>
  <mat-paginator [length]="totalOrdersLength"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageChanged($event)">
  </mat-paginator>
</div>

<ng-template #orderListTemplate let-dataSource>

  <div class="table-buttons">
    <button mat-raised-button color="accent" *ngIf="isStatusWaiting()" [disabled]="isNothingSelected()" (click)="delegateExternalRelease()">
      {{ 'trade.browse-orders.add-external-release' | translate}}
    </button>
    <button mat-raised-button color="accent" *ngIf="isStatusInProgress()" [disabled]="isNothingSelected() || selectedAreNotIssued()" (click)="markAsReceived()">
      {{ 'trade.browse-orders.mark-as-received' | translate}}
    </button>
    <button mat-raised-button color="accent" *ngIf="isStatusNotDone()" [disabled]="isNothingSelected()" (click)="changeAssignedUser()">
      {{ 'trade.browse-orders.change-assigned-user' | translate}}
    </button>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="number">
      <mat-header-cell *matHeaderCellDef> {{ 'trade.browse-orders.number' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.number}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="customer">
      <mat-header-cell *matHeaderCellDef> {{ 'trade.browse-orders.customer' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-chip-list>
          <mat-chip (click)="showCustomerData(row.customerId)"> {{row.customerName}} </mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> {{ 'trade.browse-orders.date' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.orderDate}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
      <mat-header-cell *matHeaderCellDef> {{ 'trade.browse-orders.price' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.price}} zł</mat-cell>
    </ng-container>

    <ng-container matColumnDef="assigned-user">
      <mat-header-cell *matHeaderCellDef> {{ 'trade.browse-orders.assigned-user' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-chip-list>
          <mat-chip (click)="showUserData(row.assignedUserId)"> {{row.assignedUserName}} </mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-chip-list *ngIf="isStatusInProgress()">
          <mat-chip class="chip-waiting" *ngIf="!row.issued"> {{ 'trade.browse-orders.not-issued' | translate}} </mat-chip>
          <mat-chip class="chip-in-progress" *ngIf="row.issued"> {{ 'trade.browse-orders.issued' | translate}} </mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" class="action-buttons">
        <button mat-icon-button (click)="goToOrderInfo(row.id)">
          <mat-icon>info</mat-icon>
        </button>
        <button mat-icon-button [disabled]="!isWaiting(row.status)" (click)="goToEditOrder(row.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button [disabled]="!isWaiting(row.status)" (click)="deleteOrder(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</ng-template>
