<h2 mat-dialog-title>{{ 'production.product-info.info-title' | translate}} {{productProduction.code}}</h2>
<div mat-dialog-content>
  <div class="product-data">
    <h2 class="step-title">{{ 'production.product-info.products' | translate}}</h2>
    <div *ngFor="let product of productProduction.productSet">
      <h3>{{ product.product }}
        <span class="thick">{{product.quantity}} {{getUnit(product.product)}}</span>
      </h3>
    </div>
  </div>
  <div class="step-data">
    <h2 class="step-title">{{ 'production.product-info.steps' | translate}}</h2>
    <div *ngFor="let step of productProduction.productionSteps; let i = index">
      <h3>{{i+1}}. {{ step.description }}</h3>
    </div>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="dataChanged">
    {{ 'supplies.browse-supplies.close' | translate}}
  </button>
</div>

