<h2 mat-dialog-title>{{ 'supplies.browse-supplies.edit-title' | translate}}</h2>
<div mat-dialog-content>
  <h3>{{data.code}} - {{data.name}}</h3>
  <form [formGroup]="form">
    <mat-form-field class="full-width-input left-mat-field" appearance="outline">
      <mat-label>{{ 'supplies.browse-supplies.quantity' | translate}}</mat-label>
      <input matInput type="number" formControlName="quantity" required>
      <span matSuffix>{{getUnit()}}</span>
    </mat-form-field>
    <h3><mat-icon>settings</mat-icon> {{ 'supplies.browse-supplies.settings' | translate}}</h3>
    <h3>{{ 'supplies.browse-supplies.info' | translate}}</h3>
    <mat-form-field class="full-width-input left-mat-field" appearance="outline">
      <mat-label>{{ 'supplies.browse-supplies.min-quantity' | translate}}</mat-label>
      <input matInput type="number" formControlName="minQuantity" required>
      <span matSuffix>{{getUnit()}}</span>
    </mat-form-field>
    <mat-form-field class="full-width-input" appearance="outline">
      <mat-label>{{ 'supplies.browse-supplies.days' | translate}}</mat-label>
      <input matInput type="number" formControlName="days" required>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="dataChanged">
    {{ 'supplies.browse-supplies.close' | translate}}
  </button>
  <button mat-raised-button color="primary" (click)="saveData()" [disabled]="form.invalid || !form.dirty">
    {{ 'supplies.browse-supplies.save' | translate}}
  </button>
</div>

