h2
  margin-top: 20px
  margin-bottom: 50px

mat-card
  max-width: 900px
  margin-left: auto
  margin-right: auto
  vertical-align: middle
  text-align: center
  padding-right: 50px
  padding-left: 50px

mat-form-field
  padding: 0 10px 0 10px

@media (min-width: 800px)
  mat-form-field.smaller-input
    width: 73%
  mat-form-field.product-input
    width: 70%
  .label-and-image
    display: flex
    flex-direction: row
    justify-content: space-around

@media (max-width: 800px)
  mat-form-field.smaller-input, mat-form-field.product-input
    width: 100%

mat-form-field.wider-input
  width: 100%

button.mat-raised-button
  width: 100%
  height: 50px
  margin-top: 20px
  margin-bottom: 20px

.add-button
  margin-left: 10px

#button-add-product
  display: flex
  justify-content: right

.save-button
  display: flex
  justify-content: center

