<div class="content mat-elevation-z8" *ngIf="isLoggedIn && hasPermissions">
  <h2>{{ 'supplies.browse-supplies.browse-title' | translate}}</h2>
  <p>{{ 'products.browse-product.product-count' | translate}}: {{productCount}}</p>
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef> {{ 'products.browse-product.code' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> {{ 'products.browse-product.name' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> {{ 'products.browse-product.type' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{getType(element.type)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <mat-header-cell *matHeaderCellDef> {{ 'supplies.browse-supplies.quantity' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span *ngIf="!isLessThatMin(element)">{{element.quantity}}</span>
        <span *ngIf="isLessThatMin(element)" class="quantity-insufficiency">{{element.quantity}}</span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="unit">
      <mat-header-cell *matHeaderCellDef> {{ 'products.browse-product.unit' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{getUnit(element.unit)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-chip-list *ngIf="row.message">
          <mat-chip class="chip-info" *ngIf="!row.isWarningMessage"> {{row.message}} </mat-chip>
          <mat-chip class="chip-warning" *ngIf="row.isWarningMessage"> {{row.message}} </mat-chip>
        </mat-chip-list>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" class="action-buttons">
        <button mat-icon-button (click)="goToEditSupplies(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button id="purchase-button" mat-icon-button *ngIf="isBoughtType(row.type)" (click)="addPurchaseTask(row)">
          <mat-icon matTooltip="{{ 'supplies.browse-supplies.purchase-task' | translate}}">add_shopping_cart</mat-icon>
        </button>
        <button mat-icon-button *ngIf="isProductionType(row.type)" (click)="addProductionTask(row)">
          <mat-icon matTooltip="{{ 'supplies.browse-supplies.production-task' | translate}}">build</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="totalProductsLength"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageChanged($event)">
  </mat-paginator>
</div>
