<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport (click)="drawer.toggle()"
               [ngClass]="{hidden: (isHandset$ | async) === false}"
               [attr.role]="'navigation'"
               [mode]="'over'">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <h2 matSubheader *ngIf="hasAdminRole() || hasTradeRole()">{{ 'nav.trade' | translate}}</h2>
      <a mat-list-item href routerLink="add-order" *ngIf="hasAdminRole() || hasTradeRole()"><mat-icon>note_add</mat-icon>
        <span class="button-text">{{ 'nav.add-order' | translate}}</span>
      </a>
      <h2 matSubheader *ngIf="hasAdminRole() || hasWarehouseRole()">{{ 'nav.warehouse' | translate}}</h2>
      <a mat-list-item href routerLink="browse-supplies" *ngIf="hasAdminRole() || hasWarehouseRole()"><mat-icon>storage</mat-icon>
        <span class="button-text">{{ 'nav.browse-supplies' | translate}}</span>
      </a>
      <a mat-list-item href routerLink="browse-delegated-tasks" *ngIf="hasAdminRole() || hasWarehouseRole()"><mat-icon>filter_frames</mat-icon>
        <span class="button-text">{{ 'nav.browse-delegated-tasks' | translate}}</span>
      </a>
      <h2 matSubheader *ngIf="hasAdminRole()">{{ 'nav.products' | translate}}</h2>
      <a mat-list-item href routerLink="browse-products" *ngIf="hasAdminRole()"><mat-icon>category</mat-icon>
        <span class="button-text">{{ 'nav.browse-products' | translate}}</span>
      </a>
      <a mat-list-item href routerLink="add-product" *ngIf="hasAdminRole()"><mat-icon>add_circle_outline</mat-icon>
        <span class="button-text">{{ 'nav.add-product' | translate}}</span>
      </a>
      <h2 matSubheader *ngIf="hasAdminRole()">{{ 'nav.manage-users' | translate}}</h2>
      <a mat-list-item href routerLink="browse-users" *ngIf="hasAdminRole()"><mat-icon>face</mat-icon>
        <span class="button-text">{{ 'nav.browse-users' | translate}}</span>
      </a>
      <a mat-list-item href routerLink="add-user" *ngIf="hasAdminRole()"><mat-icon>add_circle_outline</mat-icon>
        <span class="button-text">{{ 'nav.add-user' | translate}}</span>
      </a>
      <a mat-list-item href routerLink="default-users" *ngIf="hasAdminRole()"><mat-icon>settings</mat-icon>
        <span class="button-text">{{ 'nav.default-users' | translate}}</span>
      </a>
      <h2 matSubheader>{{ 'nav.my-account' | translate}}</h2>
      <a mat-list-item href routerLink="profile"><mat-icon>person_outline</mat-icon>
        <span class="button-text">{{ 'nav.my-profile' | translate}}</span>
      </a>
      <a mat-list-item href (click)="logout()"><mat-icon>logout</mat-icon>
        <span class="button-text">{{ 'nav.logout' | translate}}</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="(isHandset$ | async) && isLoggedIn">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Simple ERP</span>
      <button mat-button [matMenuTriggerFor]="intern">
        <mat-icon>language</mat-icon> {{translate.currentLang}}
      </button>
      <mat-menu #intern="matMenu">
        <button (click)="translate.use(lang)" *ngFor="let lang of translate.getLangs()" mat-menu-item>
          {{lang}}
        </button>
      </mat-menu>
      <span class="spacer"></span>
      <span *ngIf="(isHandset$ | async) === false && isLoggedIn">
        <button mat-button [matMenuTriggerFor]="trade" *ngIf="hasAdminRole() || hasTradeRole()">{{ 'nav.trade-l' | translate}}</button>
        <mat-menu #trade="matMenu">
          <button mat-menu-item routerLink="add-order">
            <mat-icon>note_add</mat-icon> {{ 'nav.add-order' | translate}}
          </button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="warehouse" *ngIf="hasAdminRole() || hasWarehouseRole()">{{ 'nav.warehouse-l' | translate}}</button>
        <mat-menu #warehouse="matMenu">
          <button mat-menu-item routerLink="browse-supplies">
            <mat-icon>storage</mat-icon> {{ 'nav.browse-supplies' | translate}}
          </button>
          <button mat-menu-item routerLink="browse-delegated-tasks">
            <mat-icon>filter_frames</mat-icon> {{ 'nav.browse-delegated-tasks' | translate}}
          </button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="products" *ngIf="hasAdminRole()">{{ 'nav.products-l' | translate}}</button>
        <mat-menu #products="matMenu">
          <button mat-menu-item routerLink="browse-products">
            <mat-icon>category</mat-icon> {{ 'nav.browse-products' | translate}}
          </button>
          <button mat-menu-item routerLink="add-product">
            <mat-icon>add_circle_outline</mat-icon> {{ 'nav.add-product' | translate}}
          </button>
        </mat-menu>
        <button mat-button [matMenuTriggerFor]="users" *ngIf="hasAdminRole()">{{ 'nav.manage-users-l' | translate}}</button>
        <mat-menu #users="matMenu">
          <button mat-menu-item routerLink="browse-users">
            <mat-icon>face</mat-icon> {{ 'nav.browse-users' | translate}}
          </button>
          <button mat-menu-item routerLink="add-user">
            <mat-icon>add_circle_outline</mat-icon> {{ 'nav.add-user' | translate}}
          </button>
          <button mat-menu-item routerLink="default-users">
            <mat-icon>settings</mat-icon> {{ 'nav.default-users' | translate}}
          </button>
        </mat-menu>
      </span>
      <button id="profile-button" mat-button [matMenuTriggerFor]="profile" *ngIf="isLoggedIn">
        <span class="user-info">{{username}}</span>
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #profile="matMenu">
        <button mat-menu-item routerLink="profile">
          <mat-icon>person_outline</mat-icon> {{ 'nav.my-profile' | translate}}
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon> {{ 'nav.logout' | translate}}
        </button>
      </mat-menu>
      <button mat-button *ngIf="!isLoggedIn" routerLink="login">{{ 'nav.login' | translate}}</button>
    </mat-toolbar>
    <ng-content></ng-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
