<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Simple ERP</span>
      <span class="spacer"></span>
      <button mat-button [matMenuTriggerFor]="intern">
        <mat-icon>language</mat-icon> {{translate.currentLang}}
      </button>
      <mat-menu #intern="matMenu">
        <button (click)="translate.use(lang)" *ngFor="let lang of translate.getLangs()" mat-menu-item>
          {{lang}}
        </button>
      </mat-menu>
      <button id="profile-button" mat-button [matMenuTriggerFor]="profile" *ngIf="isLoggedIn">
        <span class="user-info">{{username}}</span>
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #profile="matMenu">
        <button mat-menu-item routerLink="profile">
          <mat-icon>person_outline</mat-icon> {{ 'nav.my-profile' | translate}}
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon> {{ 'nav.logout' | translate}}
        </button>
      </mat-menu>
      <button mat-button *ngIf="!isLoggedIn" routerLink="login">{{ 'nav.login' | translate}}</button>
<!--      <button mat-button *ngIf="!isLoggedIn" routerLink="register">{{ 'nav.register' | translate}}</button>-->
    </mat-toolbar>
    <ng-content></ng-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
