<div class="content mat-elevation-z8" *ngIf="isLoggedIn && isAdmin">
  <div class="product-list-header">
    <div>
      <h2>{{ 'products.browse-product.browse-title' | translate}}</h2>
      <p>{{ 'products.browse-product.product-count' | translate}}: {{productCount}}</p>
    </div>
    <div>
      <button mat-raised-button (click)="goToAddProduct()">
        {{ 'nav.add-product' | translate}}
      </button>
    </div>
  </div>
  <mat-table #table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="code">
      <mat-header-cell *matHeaderCellDef> {{ 'products.browse-product.code' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> {{ 'products.browse-product.name' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef> {{ 'products.browse-product.type' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{getType(element.type)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="purchasePrice">
      <mat-header-cell *matHeaderCellDef> {{ 'products.browse-product.purchase-price' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{showPrice(element.purchasePrice)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="purchaseVat">
      <mat-header-cell *matHeaderCellDef> {{ 'products.browse-product.vat' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{showVat(element.purchaseVat)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="salePrice">
      <mat-header-cell *matHeaderCellDef> {{ 'products.browse-product.sale-price' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{showPrice(element.salePrice)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="saleVat">
      <mat-header-cell *matHeaderCellDef> {{ 'products.browse-product.vat' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{showVat(element.saleVat)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="unit">
      <mat-header-cell *matHeaderCellDef> {{ 'products.browse-product.unit' | translate}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{getUnit(element.unit)}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row" class="action-buttons">
        <button *ngIf="row.contractor" mat-icon-button (click)="goToContractorInfo(row.contractor)">
          <mat-icon>person</mat-icon>
        </button>
        <button *ngIf="isProductionType(row.type)" mat-icon-button (click)="goToProductInfo(row.id)">
          <mat-icon>build</mat-icon>
        </button>
        <button *ngIf="isSetType(row.type)" mat-icon-button (click)="goToSetInfo(row.id)">
          <mat-icon>category</mat-icon>
        </button>
        <button mat-icon-button (click)="goToEditProduct(row.id, row.type)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteProduct(row.id, row.type)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="totalProductsLength"
                 [pageSize]="pageSize"
                 [pageIndex]="pageIndex"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageChanged($event)">
  </mat-paginator>
</div>
